:root {
    --main-radius: 5px;
    --main-padding: 5px;
    --main-color: #5391d8;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: .4fr 7fr;
    grid-template-areas: "header" "main";
    grid-gap: 0.2rem;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 12px;
    color: #74a3d854;
    text-align: center;
}

header {
    background-color: #fff;
    grid-area: header;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
}

main {
    grid-area: main;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
}

@media (max-width: 550px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: .5fr 3fr;
        grid-template-areas: "header" "main";
    }
}